<!DOCTYPE html>
<html lang="en">
<head>
    <title>AMS Cam</title>
    <% include ../shared/head.ejs %>
</head>
<body>


<%  var node_header_menu= false;  %>
<% include ../shared/header.ejs %>


<div class="step welcome-step np">
    <div class="container">
        <form method="POST">
        
            <h3 class="mt bordered mb">
                Claim your Camera 
            </h3>
            
            <%if (typeof errors != 'undefined') { %> 
                <div class="alert alert-danger dmt alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <i class="fa fa-warning"></i> <strong>Error</strong>
                    <ul> 
                        <% for(var i=0; i<errors.length; i++) {%>
                            <%if (errors[i] != "")  { %> 
                                <li><%= errors[i] %></li>
                            <% } %>    
                        <% } %>
                    </ul>
                </div>
            <% }  %>
            
            <%if (typeof success != 'undefined') { %> 
                <div class="alert alert-success dmt alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <i class="fa fa-check"></i> <strong><%=success%></strong> 
                </div>
            <% }  %>
 
            <div class="in"> 
            
                <div class="alert alert-info">
                    <span class="fa fa-warning"></span> You need to claim your camera toward the <strong>American Meteor Society</strong>. 
                </div>
 
                <% if(config.wlan_mac && config.lan_mac ) {%>
                    <div class="text-center">
                        Go to your<br/><a href="http://www.amsmeteors.org/members/cam/claim?lan_mac=<%=config.lan_mac%>&wlan_mac=<%=config.wlan_mac%>&org=<%=url%>&from_app=1" class="btn btn-lg btn-primary"><span class="fa fa-hand-o-right"></span> AMS Camera Claim page</a><br/>on the American Meteor Society website (login required) 
                    </div>
                <% } else { %>
                     <div class="alert alert-danger">
                    The WLAN MAC and LAN MAC are missing in the config file. Something went wrong. Please, contact us.
                    </div>
                    
                 <% } %>
                   
            </div>
        </form>
    </div>
</div>

<% include ../shared/footer.ejs %>
</body>
</html>