<!DOCTYPE html>
<html lang="en">
<head>
    <title>AMS Cam</title>
    <% include ../shared/head.ejs %>
    <style>
    .table { width: auto;  margin: 1em auto 2em; }
    .dmr { margin-right:.5em }
    .img1 { max-width:200px }
    .preview { max-height:100px; overflow:auto}
    .container{width:1470px}}@media (min-width:1600px){
    </style>  
</head>
 
<body>

<% include ../shared/header.ejs %>

    <div class="box box-header-like box-header-admin clearfix">
        <h3>
            <%if (results.length !=  0) { %> 
                <%= results[0].detection.length %> 
            <% } %> 
            Fireball detections
        </h3>
    </div>
 
    <%if (typeof success != "undefined") { %> 
        <div class="alert alert-success dmt">
            <span class="fa fa-check"></span> 
            Event(s) successfully deleted:
            <ul> 
                <% for(var i=0; i<success.length; i++) {%>
                    <%if (success[i] != "")  { %> 
                        <li>#<%= success[i] %></li>
                    <% } %>    
                <% } %>
            </ul>
        </div>
    <% } %> 
    
    <%if (results.length != 0 && folder.length != 0 && results[0].detection.length != 0) { %> 
    
        <div class="admin-actions clearfix" style="margin-bottom:10px">
            <div class="pull-left">
                    <button class="btn btn-default btn-sm" data-action="select_all" data-table="maybe-table" title="Select all">
                            <i class="fa fa-check"></i> 
                    </button>
            </div>	
            <div id="action-group-buttons" class="pull-left  ml">
                    <button disabled="disabled" class="btn btn-danger btn-sm" data-action="delete-all" title="Delete" > 
                            <span class="fa fa-trash-o"></span>
                    </button>
            </div>
        </div>
    
    
        <div class="table-responsive">
            
            <table id="maybe-table" class="table table-condensed table-hover table-results select-events-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>  
                                <th>Screenshot/Objects</th> 
                                <th>Video</th>
                                <th>Summary</th>
                                <th>&nbsp;</th> 
                                <th>&nbsp;</th> 
                           </tr>
                        </thead>
                        <tbody> 
                        <% for(var i=0; i<results.length; i++) {%>
                             
                            <% for(var x=0; x<results[i].detection.length; x++) {%>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="select_row" name="<%= results[i].detection[x].detect.name %>">
                                    </td>
                                    <td><%= results[i].detection[x].detect.date %></td>
                                    <td>
                                        <a href="<%= folder %>/<%= results[i].detection[x].detect.preview %>" class="pull-left dmr" data-gallery>
                                            <img src="<%= folder %>/<%= results[i].detection[x].detect.preview %>" class="img-responsive img1" />
                                        </a>
                                     
                                        <a href="<%= folder %>/<%= results[i].detection[x].detect.objects %>" class="pull-left" data-gallery>
                                            <img src="<%= folder %>/<%= results[i].detection[x].detect.objects %>" class="img-responsive img1" />
                                        </a>
                                    </td>
                                    <td> 
                                         <% if (browser === 'Firefox') { %>
                                         <embed name="plugin" autoplay="false" src="<%= folder %>/<%= results[i].detection[x].detect.video %>" type="video/x-msvideo" height="100%" width="100%">
                                         <%  } %>
                                         <a href="<%= folder %>/<%= results[i].detection[x].detect.video %>" class="btn btn-primary btn-xs"><span class="fa fa-video-camera"></span> Download</a>
                                    </td>
                                    <td><pre class="preview"><%= results[i].detection[x].detect.summaryTxt %></pre></td>
                                    <td><a title="Delete" class="btn btn-danger btn-xs" href="/detection/maybe/delete?ev=<%= results[i].detection[x].detect.name %>"><span class="fa fa-trash-o"></span></button></td>
                                </tr>
                            <% } %>
                        <% } %>
                        </tbody>
            </table>
             
        </div>
    
    <%}else {%>
         <div class="alert alert-danger">No Fireball Detection found.</div>
    <% } %>
 
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">   
<div id="blueimp-gallery" class="blueimp-gallery" style="display: none;"> <div class="slides" style="width: 7680px;"></div><h3 class="title"></h3> <a class="prev"><span class="fa fa-caret-left"></span></a> <a class="next"><span class="fa fa-caret-right"></span></a> <a class="close">×</a> <a class="play-pause"></a> <ol class="indicator"></ol> <div class="modal fade"> <div class="modal-dialog"> <div class="modal-content"> <div class="modal-header"> <button type="button" class="close" aria-hidden="true">×</button> <h4 class="modal-title"></h4> </div> <div class="modal-body next"></div> <div class="modal-footer"> <button type="button" class="btn btn-default pull-left prev"> <i class="fa fa-caret-left"></i> </button> <button type="button" class="btn btn-primary next"> <i class="fa fa-caret-right"></i> </button> </div> </div> </div> </div></div>

<% include ../shared/footer.ejs %> 
<script src="../js/blueimp-gallery.min.js"></script>

</body>
</html>
   