<!DOCTYPE html>
<html lang="en">
<head>
    <title>AMS Cam</title>
    <% include ../shared/head.ejs %>
</head>
 
<body>

<% include ../shared/header.ejs %>

    <div class="box box-header-like clearfix">
        <div class="clearfix">
            <h3 class="pull-left">Calibration</h3>
        </div>
    </div>
    
    <div class="step np">
        <div class="container nl">   
            <div class="row">
                  <div class="col-md-6 text-center"> 
                         <% if (browser === 'Chrome') { %>
                                <%if (config) { %> 
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <div id="vxg_media_player1" class="vxgplayer dmt" url="rtsp://<%= config.cam_ip %>/av0_1" latency="3000000" autostart  avsync></div>
                                    </div>
                                    <div id="runtimePlayers"></div>
                                     <script src="/js/vxgplayer.js"></script> 
                                 <% } else { %>
                                    <div class="alert alert-danger dmt">Config.txt missing - please makedevice and try again.</div>
                                 <% } %> 
                        <% } else if (browser === 'Firefox') { %>
                                 
                                 <%if (config) { %> 
                                    <div class="dmt">
                                        <div class="embed-responsive embed-responsive-4by3">
                                            <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
                                                             codebase="http://downloads.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab"
                                                             width="640" height="500" id="vlc" events="True">
                                                <param name="src" value="rtsp://<%= config.cam_ip %>/av0_1" />
                                                <param name="ShowDisplay" value="True" />
                                                <param name="AutoLoop" value="False" />
                                                <param name="AutoPlay" value="True" />
                                                <embed id="vlcEmb"  type="application/x-google-vlc-plugin" version="VideoLAN.VLCPlugin.2" autoplay="yes" loop="no" width="640" height="480" target="rtsp://<%= config.cam_ip %>/av0_1" ></embed>
                                            </object> 
                                        </div>
                                    </div>
                                 <% } else { %>
                                    <div class="alert alert-danger dmt">Config.txt missing - please makedevice and try again.</div>
                                 <% } %>    
                            
                            <% } else { %>
                        <div class="alert alert-danger dmt">Unsupported browser. Please, update to <a href="https://www.google.com/chrome/" target="_blank">Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/products/">Firefox</a>. </div>
                            
                        <% } %>
                  </div>
                  <div class="col-md-6">
                        
                        <h3 class="bordered">Camera Calibrations</h3> 
                         
                        <% 
                            config_files = ['Calibration','Night','Day']; 
                            active = 'Calibration';
                        %>  
                        
                        <ul class="nav nav-tabs dmt mb" id="tabs">
                            <%for (var file in config_files){%>
                                <li <% if( config_files[file]== active){ %>class="active"<% } %>>
                                    <a href="#<%= config_files[file]  %>" id="<%= config_files[file]  %>-tab" role="tab" data-toggle="tab" ><%= config_files[file]  %></a>
                                </li>    
                            <% } %>
                        </ul>
                        
                        <div class="tab-content"> 
                        
                            <%for (var file in config_files){%>
                                <div class="tab-pane fade in dmt  <% if( config_files[file]== active){ %>active<% } %>" role="tabpanel" id="<%= config_files[file] %>"> 
                                    <% /* Coul add Chroma... */ %> 
                                    <% sliders = ['Brightness','Contrast','Saturation']; %> 
                                         <%for (var slider in sliders){%>
                                            <div class="clearfix">
                                                <strong class="pull-left ui-slider-handle-label"><%= sliders[slider]  %></strong>    
                                                <div class="pull-left ui-slider-handle-container">
                                                    <div id="sl_<%= config_files[file]  %><%= sliders[slider] %>" class="dmt"><div id="sl_<%= config_files[file]  %><%= sliders[slider] %>-handle" class="ui-slider-handle"></div></div>
                                                </div>
                                            </div>
                                        <%}%>
                                  </div>   
                             <% } %>
                             
                        </div>

                        <%if (typeof message_success != 'undefined') { %> 
                            <div class="alert alert-success dmt alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <i class="fa fa-check"></i> <strong>The new image has been automatically sent to the AMS server and is available to this address: </strong> 
                                <a href="http://www.amsmeteors.org/members/upload_cam_api/<%= config.device_id; %>/latest.jpg?<%= Math.floor(Math.random()*100000) %>" target="_blank">
                                    http://www.amsmeteors.org/members/upload_cam_api/<%= config.device_id; %>/latest.jpg
                                </a>
                            </div>
                        <% }  %>
                        
                  </div>
            </div>  
       </div>
         
     </div>    
 
    <% include ../shared/footer.ejs %>
    <link href="../bower_components/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet">
    <link href="../bower_components/jquery-ui/themes/base/theme.css" rel="stylesheet">
    <script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
     
    <%for (var slider in sliders){%>
        <% v  = sliders[slider]; %>
        
      
        <%= sliders[slider]; %> <%= calib[sliders[slider]]; %><br/>
    <%}%>
    
    <script>
        $(function() {
            
            <%for (var file in config_files){%>
                <%for (var slider in sliders){%>
                    var <%= config_files[file]  %><%= sliders[slider] %>_handle = $( "#sl_<%= config_files[file]  %><%= sliders[slider] %>-handle" );
                    $("#sl_<%= config_files[file]  %><%= sliders[slider] %>").slider({
                         animate: true,
                         range: "min",
                         min: 0,
                         max: 255,
                         value: <%= calib[sliders[slider]]; %>,
                         create: function() {
                            <%= config_files[file]  %><%= sliders[slider] %>_handle.text( $( this ).slider( "value" ) );
                         },
                         slide: function( event, ui ) {
                            <%= config_files[file]  %><%= sliders[slider] %>_handle.text( ui.value );
                         },
                         stop: function( event, ui ) {
                            
                            <%= config_files[file]  %><%= sliders[slider] %>_handle.html('<span class="fa fa-spin fa-refresh"></span>');
                            
                            $.ajax({
                                    type: 'POST',
                                    url:  window.location.pathname,
                                    data: {<%= sliders[slider]  %>:ui.value, file:'<%= config_files[file]  %>'},  
                                    dataType: "json",
                                    success: function(response){
                                        <%= config_files[file]  %><%= sliders[slider] %>_handle.text(ui.value);
                                    }
                            });
                             
                             
                         }
                     }); 
                <%}%>
            <%}%>
             
           
             
             
        });
    </script>     
    
</body>
</html>
